<div class="title"><%= "this list's title is: #{@list.title}" %></div>

<%= form_tag("/tasks/complete/", :method => "post") do %>
  <table class="table table-condensed table-rounded table-hover">
    <tr>
      <td>Delete</td>
      <td>Task</td>
      <td>Days Left</td>
      <td>Toggle</td>
    </tr>


    <% @list.tasks.each do |task| %>
      <% if task.complete == true %>
        <tr> 
          <td style="color:grey;"><%= link_to "", [@list,task], method: :delete, class: 'btn btn-xs glyphicon glyphicon-trash'%></td>
          <td style="color:grey;"><strike><%= task.title %></strike></td>
          <% daysLeft = 7 - ((Time.now - task.created_at).to_i / 1.day) %> 
          <!-- create helper method for this --> 
          <% task.update_attributes(:daysLeft => daysLeft) %>
          <td style="color:grey;"><%= "#{daysLeft}" %></td> 
          <td><%= check_box_tag("task_checked[]", task.id) %></td> 

        </tr>
      <% else %> 
        <tr> 
          <td><%= link_to "", [@list,task], method: :delete, class: 'btn btn-xs glyphicon glyphicon-trash'%></td>
          <td><%= task.title %></td>
          <% daysLeft = 7 - ((Time.now - task.created_at).to_i / 1.day) %>
          <% task.update_attributes(:daysLeft => daysLeft) %>
          <td><%= "#{daysLeft}" %></td> 
          <td><%= check_box_tag("task_checked[]", task.id) %></td> 


        </tr>
      <% end %> <!-- end if statement --> 
    <% end %> <!-- end loop for @list.tasks -->

  </table> 

  <%= hidden_field_tag :list_id, @list.id %>  <!-- this is for sending @List to -->

  <%= submit_tag("Mark Complete", :class=>"btn btn-info custom-button") %>

<% end %>  <!-- end form for tasks --> 



  <!-- Add new tasks --> 
  <%= form_for [@list, @task] do |f| %>
    <div class="form-group">
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter task to add" %>
    </div>
    <%= f.submit "Add", class: 'btn btn-success add -button' %>

  <% end %>  <!-- end form for new task --> 










  