  <table>
    <tr>
      <td>Task</td>
      <td>Days Left</td>
      <td>Completed?</td>
    </tr>

    <% @list.tasks.each do |task| %>
      <tr> 
        <td><%= task.title %></td>
        <% daysLeft = 7 - ((Time.now - task.created_at).to_i / 1.day) %>
        <td><%= "#{daysLeft}" %></td> 
        <td><%= check_box_tag("completed", value = "1", checked = false)%></td> 
      </tr>
    <% end %>
  </table> 

     <%= form_for [@list, @task] do |f| %>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter task to add" %>
      </div>
      <%= f.submit "Add", class: 'btn btn-success' %>
    <% end %>